plugins {
    id 'nf-schema@2.1.2'
}

params {
    input = null
    vep_species = "homo_sapiens"
    vep_cache_version = "113"
    vep_cache = null
    references = null
    chainfiles = null
    liftover_plugin = null
    // Contigs that should be considered in the comparisons
    include_chr = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22"] //, "X", "Y", "MT"]
}

profiles {
    rv {
        process {
            executor = "slurm"
            queue = "clinical"
            scratch = "/tmp"
            maxRetries = 2
            resourceLimits = [
                max_time: 24.h,
                max_cpus: 256,
                max_memory: 2063602.MB,
            ]
        }

        executor {
            queueSize = 200
            submitRateLimit = "10 sec"
        }

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = "/storage/userdata/nextflow_apptainer_cache"
            runOptions = "--cleanenv --bind $HOME"
        }
    }

    test {
        params {
            references {
                GRCh38 {
                    fasta = "/storage/userdata/references/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
                    fai = "/storage/userdata/references/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa.fai"
                    dict = "/storage/userdata/references/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.dict"
                }
                GRCh37 {
                    fasta = "/storage/userdata/references/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
                    fai = "/storage/userdata/references/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa.fai"
                    dict = "/storage/userdata/references/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.dict"
                }
            }
            chainfiles {
                GRCh37 {
                    GRCh38 = "/storage/userdata/references/homo_sapiens/chain_files/ucsc/hg19ToHg38.over.chain.gz"
                }
                GRCh38 {
                    GRCh37 = "/storage/userdata/references/homo_sapiens/chain_files/ucsc/hg38ToHg19.over.chain.gz"
                }
            }
        }
    }
}

apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

includeConfig './conf/vcf_preprocessing.config'
includeConfig './conf/small_variant_benchmark.config'
includeConfig './conf/reporting.config'
