// vim: syntax=nextflow

process {
    withName: 'VALP:REPORTING:SUMMARY_TO_JSON' {
        tag = { "${meta.id}" }
        ext.prefix = { "${meta.id}.happy.summary" }
    }

    withName: 'VALP:REPORTING:EXTENDED_TO_JSON' {
        tag = { "${meta.id}" }
        ext.prefix = { "${meta.id}.happy.extended" }
    }

    withName: 'VALP:REPORTING:BENCHMARK_REPORT' {
        ext.html_template = { "${projectDir}/assets/report_template.html" }
    }
}
